body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  height: 100%;
  /* border-style: solid; */
}
.content-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h4 {
  color: #2c3333;
  font-size: x-large;
  font-weight: 700;
  padding: 10px 50px;
}
.app-name {
  float: left;
  width: 60%;
  height: 80px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.header {
  margin-bottom: 300px;
}
h1,
h3 {
  color: #395b64;
  font-size: 80px;
  font-weight: lighter;
  margin-top: 0;
}

h6 {
  color: #395b64;
  font-style: oblique;
  font-weight: 800;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav {
  float: right;
  width: 100%;
  height: 80px;
  background-color: #a5c9ca;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
.question-list {
  border: 2px solid #395b64;
  margin-top: 0px;
  border-top-style: none;
}
span {
  color: #2c3333;
  font-weight: 500;
}

ul {
  padding-left: 0;
}
.username {
  width: 40%;
  height: 80px;
  float: right;
  font-weight: bold;
}
.login {
  text-align: center;
}

.login-content {
  display: flex;
  justify-content: center;
}
.login-content h4 {
  cursor: default;
  width: 20%;
}
.users {
  margin-top: 40px;
  cursor: pointer;
  font-weight: 500;
}
.users li:hover {
  background-color: powderblue;
}
.unanswered {
  float: left;
  width: 100%;
  background-color: #e7f6f2;
}

.unanswered ul {
  background-color: #e7f6f2;
}

.answered {
  float: right;
  width: 100%;
  background-color: #e7f6f2;
}
h4 {
  border: 2px solid #395b64;
  margin: 0;
}
h4:hover {
  background-color: powderblue;
}
h4:focus {
  background-color: #395b64;
}
button {
  all: unset;
  cursor: pointer;
}
