body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.avatar {
  height: 100px;
  border-radius: 25px;
  margin: 10px;
}
.content {
  height: 100%;
}
.content-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h4 {
  color: #2c3333;
  font-size: x-large;
  font-weight: 700;
  padding: 10px 50px;
  width: inherit;
}
.app-name {
  float: left;
  width: 60%;
  height: 80px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.close-question {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url("./icons/back-arrow-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}
.header {
  margin-bottom: 300px;
}
h1,
h3 {
  color: #395b64;
  font-size: 40px;
  font-weight: lighter;
  margin-top: 0;
}

h6,
p {
  color: #395b64;
  font-style: oblique;
  font-weight: 800;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav {
  float: right;
  width: 100%;
  height: 80px;
  background-color: #a5c9ca;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}
.new-poll {
  padding: 10px 10%;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  width: 80%;
}
.new-poll h6 {
  font-size: larger;
  margin: 0%;
  text-align: center;
}
.new-poll h3 {
  font-weight: 10;
}
.new-poll form {
  display: grid;
  grid-template-columns: auto;
  margin-left: 25%;
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 5%;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
.question-list {
  border: 2px solid #395b64;
  margin-top: 0px;
  border-top-style: none;
}
.question-content {
  text-align: center;
}
.question-content button {
  inline-size: 250px;
  overflow-wrap: break-word;
}
span {
  color: #2c3333;
  font-weight: 500;
}

ul {
  padding-left: 0;
}
.username {
  width: 40%;
  height: 80px;
  float: right;
  font-weight: bold;
}
.login {
  text-align: center;
}

.login-content {
  display: flex;
  justify-content: center;
}
.login-content h4 {
  cursor: default;
  width: 20%;
}
.board-container {
  text-align: center;
  margin: 10%;
  width: 80%;
}
.board {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #e7f6f2;
  padding: 10px;
  text-align: center;
  border: 2px solid #395b64;
}
.board img {
  grid-row-start: 1;
  grid-row-end: 3;
}
.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 35px;
  width: 150px;
  margin: 5px;
}
.users {
  margin-top: 40px;
  cursor: pointer;
  font-weight: 500;
}
.users li:hover {
  background-color: powderblue;
}
.unanswered {
  float: left;
  width: 100%;
  background-color: #e7f6f2;
}

.unanswered ul {
  background-color: #e7f6f2;
}

.answered {
  float: right;
  width: 100%;
  background-color: #e7f6f2;
}
h4,
h5 {
  border: 2px solid #395b64;
  margin: 0;
}
h4:hover {
  background-color: powderblue;
}
h4:focus {
  background-color: #395b64;
}
button {
  all: unset;
  cursor: pointer;
}

/* button style from https://getcssscan.com/ */
.button {
  background-color: #2c3333;
  background-image: linear-gradient(#2c3333 0, #395b64 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: #e7f6f2;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 100px;
  margin: 20px;
}

.button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}

@media screen and (max-width: 310px) {
  .board img {
    height: 80px;
    border-radius: 25px;
    margin: 5px;
  }

  .board p,
  h6 {
    word-break: break-word;
  }
}
@media screen and (max-width: 483px) {
  .content-nav button {
  }
  .content-nav h4 {
    /* background-color: aqua;
    width: 50%;
    padding: 0px;
    /* font-weight: 100; */
    /* font-size: larger; */
  }
}
